.idea
dev.sh
db.sh
test.json
test.cap
test.txt
frontend/node_modules
frontend/dist
frontend/.env
backend/pifi
backend/PiFi
backend/log.txt
backend/data*
backend/config*
backend/portal/test
backend/dist
BACKEND/*.prof