.ap {
	background-color: var(--base);
	gap: 5px;
	padding: 10px;
	display: grid;
}

.ap-flex {
	display: flex;
	gap: 5px;
	overflow: hidden;
	height: 20px;
}

.ap-flex svg {
	height: 100%;
}

.ap-clients {
	display: flex;
	gap: 5px;
	flex-direction: column;
}

.ap-footer {
	margin-top: 5px;
	justify-content: space-between;
	overflow: visible;
	height: 30px;
}

.ap-footer > span {
	margin-block: auto;
}

.ap-footer > button {
	width: 100px;
	height: 30px;
}
