.file {
	width: 100%;
	display: flex;
	gap: 5px;
}

.file svg {
	margin-block: auto;
	height: 20px;
	width: 20px;
}

.file span {
	margin-block: auto;
	height: min-content;
}

.file button {
	margin-left: auto;
	width: 100px;
	height: 30px;
}
