.file {
	width: 100%;
	display: flex;
	gap: 5px;
}

.file svg {
	margin-block: auto;
	height: 20px;
	width: 20px;
}

.file-name {
	display: flex;
	gap: 5px;
	white-space: nowrap;
	overflow-x: auto;
}

.file span {
	margin-block: auto;
	height: min-content;
}

.file button {
	margin-left: auto;
	width: 100px;
	height: 30px;
}

@media screen and (max-width: 719px) {
	.file-name {
		flex-direction: column;
	}
}
