/*global*/
.container {
    max-width: 1024px;
    margin-inline: auto;
    height: inherit;
}

.card {
    border-radius: var(--rad);
    box-shadow: var(--shadow);
    outline: var(--outline);
}

#pifi {
    margin: 0;
    height: 30px;
    user-select: none;
    -webkit-user-select: none;
}

#pifi:hover {
    cursor: pointer;
}

/*app*/
header {
    width: 100%;
    background-color: var(--pink);
    height: 50px;
    box-shadow: var(--shadow);

    display: grid;
    padding: 10px;
    grid-template-columns: 100px auto;
}

header #pifi {
    color: var(--white);
}

header [data-scope="menu"][data-part="trigger"] {
    margin-left: auto;
    background: none;
    height: 30px;
    width: 30px;
    padding: 0;
    outline: none;
}

header [data-scope="menu"][data-part="trigger"] svg {
    stroke: var(--white);
    stroke-width: 4px;
    width: inherit;
    height: inherit;
}

header [data-scope="menu"][data-part="content"] {
    background-color: var(--pink);
    padding: 10px;
    border-radius: 0 0 var(--rad) var(--rad);
    outline: none;
    width: 50px;
    height: 100dvh;
    margin-right: -10px;
}

header [data-scope="tabs"][data-part="root"] {
    height: calc(100% - 50px);
}

header [data-scope="tabs"][data-part="list"], #header-menu-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header [data-scope="tabs"][data-part="trigger"] {
    outline: none;
}

header [data-scope="tabs"][data-part="trigger"], #header-menu-logout {
    background: none;
    font-size: 20px;
    font-weight: bold;
    z-index: 2;
    padding: 0;
    height: 30px;
    width: 30px;
    outline: none;
}

header [data-scope="tabs"][data-part="trigger"] svg, #header-menu-logout svg {
    height: 100%;
    width: auto;
    stroke: var(--white);
}

#header-menu-logout {
    margin-top: auto;
}

header [data-scope="tabs"][data-part="indicator"] {
    background-color: var(--dark);
    border-radius: 0;
    width: 50px;
    height: 30px;
    transform: skewY(-25deg) translate(-10px, -3px);
    top: 0;
    opacity: 0.5;
    transition-duration: var(--transition-duration) !important;
}

main {
    color: var(--white);
    padding: 10px;
}

div [data-scope="select"][data-part="root"] {
    display: flex;
    gap: 5px;
    flex-direction: column;
    width: 200px;
}

div [data-scope="select"][data-part="trigger"] {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}

div [data-scope="select"][data-part="positioner"]:has([data-state="open"]) {
    background-color: var(--dark);
    box-shadow: var(--shadow);
    width: var(--reference-width);
    border-radius: var(--rad);
    outline: var(--outline);
}

div [data-scope="select"][data-part="item"] {
    display: flex;
    color: var(--white);
    margin: 5px;
}

div [data-scope="select"][data-part="item"][data-state="checked"] {
    color: var(--green);
}

div [data-scope="select"][data-part="item"]:hover {
    cursor: pointer;
    filter: var(--hover);
}

@media (hover: hover) and (pointer: fine) {
    header [data-scope="menu"][data-part="trigger"]:hover,
    header [data-scope="tabs"][data-part="trigger"]:hover,
    #header-menu-logout:hover {
        cursor: pointer;
        filter: var(--hover);
    }
}
