header {
    width: 100%;
    background-color: var(--pink);
    height: 50px;
    box-shadow: var(--shadow);
}

header .container {
    display: grid;
    padding: 10px;
    grid-template-columns: 100px auto;
}

header h1 {
    margin: 0;
    height: 30px;

    /*fine tuned to be pixel perfect*/
    line-height: 33px;
    font-size: 38px;

    font-weight: 900;
    font-style: italic;
    user-select: none;
    -webkit-user-select: none;
}

header [data-scope="tabs"][data-part="root"] {
    margin-left: auto;
}

header [data-scope="tabs"][data-part="list"] {
    height: 100%;
    display: flex;
    gap: 10px;
}

header [data-scope="tabs"][data-part="trigger"], [data-scope="tabs"][data-part="indicator"] {
    width: 70px;
}

header [data-scope="tabs"][data-part="trigger"] {
    background: none;
    font-size: 20px;
    font-weight: bold;
    height: inherit;
    color: var(--white);
    z-index: 2;
}

header [data-scope="tabs"][data-part="indicator"] {
    height: 50px;
    background-color: var(--dark);
    border-radius: 0;
    width: 50px;
    transform: skew(-45deg) translateX(10px);
    top: 0;
    opacity: 0.5;
}

main {
    color: var(--white);
}