#dash {
    width: 100%;
}




#dash-stats {
    display: flex;
    background-color: var(--base);
    padding: 10px;
}

#dash-stats div {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 10px;
}

#dash-stats svg {
    margin: 0 auto;
    height: 30px;
    width: auto;
}