#dash {
    width: 100%;
    background-color: var(--base);
    padding: 10px;
}

#dash-stats {
    display: grid;
    grid-template-areas:
        "title title"
        "s1 s2";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
}

#dash-stats h2 {
    grid-area: title;
}

#dash-stats div {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 10px;
    margin: 10px 0;
}

#dash-stats svg {
    margin: 0 auto;
    height: 30px;
    width: auto;
}